.main {
  flex: 1 1 auto;
  margin-top: 120px;
}

#selection_string {
  font-size: 20px;
  margin-left: 20px;
  font-family: Ibarra Real Nova;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 4;
  max-width: 500px;
}

#protocol_name {
  margin-left: 50px;
  margin-bottom: 10px;
  padding-right: 0px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(148, 211, 87);
  padding: 5px 5px;
  background-color: whitesmoke;
  transition: background-color 0.5s ease 0s;
}

#protocol_name:hover {
  background-color: rgb(148, 211, 87);
}

/*================Table1===================*/

.show {
  display: block;
  margin-top: 10px;
  margin-left: 45px;
}

.table {
  width: 1350px;
  border-spacing: 0px;
}
#table1 td {
  padding: 8px 5px;
  text-align: center;
  font-size: 15px;
  border: 0.5px solid;
}

.head1 td {
  width: 33%;
}

.head8 td {
  font-style: italic;
  font-size: 12px;
  padding: 5px 5px;
}

.boldText {
  font-weight: bold;
}

/*================Table2===================*/

#table2 td {
  padding: 8px 5px;
  text-align: center;
  font-size: 15px;
  border: 0.5px solid;
}

/*================Table2===================*/

#table3 td {
  padding: 8px 5px;
  text-align: center;
  font-size: 15px;
  border: 0.5px solid;
}

/*==============Authorization================*/

.authorization {
  margin-top: 25px;
  margin-left: 40px;
  border: 1px solid;
  width: 220px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(148, 211, 87);
  padding: 5px 5px;
  background-color: white;
  transition: background-color 0.5s ease 0s;
}

.authorization:hover {
  background-color: rgb(148, 211, 87);
}

#myPrompt {
  margin-top: 250px;
  margin-left: 550px;
  border: 4px solid rgb(39, 112, 202);
  border-radius: 20px;
  background-color: whitesmoke;
  width: 300px;
  height: 210px;
  position: absolute;
  visibility: hidden;
  display: block;
}

#error {
  text-align: center;
  color: red;
  font-size: 12px;
  visibility: hidden;
  margin-top: 15px;
}

#logoutButton {
  display: none;
}

/*---------------*/

#sterilityAssessment {
  display: none;
}
#table123 {
  display: none;
}

#divArchive {
  display: none;
}
